@charset "utf-8";

/*====================== Fonts Windows ======================*/

@font-face {
    font-family: 'SanFrancisco';
    src: url('../fonts/ios/SFUIText-Regular.eot');
    src: url('../fonts/ios/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ios/SFUIText-Regular.woff') format('woff'),
    url('../fonts/ios/SFUIText-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'SanFrancisco';
    src: url('../fonts/ios/SFUIText-Semibold.eot');
    src: url('../fonts/ios/SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ios/SFUIText-Semibold.woff') format('woff'),
    url('../fonts/ios/SFUIText-Semibold.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'SanFrancisco';
    src: url('../fonts/ios/SFUIText-Bold.eot');
    src: url('../fonts/ios/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ios/SFUIText-Bold.woff') format('woff'),
    url('../fonts/ios/SFUIText-Bold.ttf') format('truetype');
    font-weight: 700;
}

body,
body.ios {
    font-family: 'SanFrancisco', "Helvetica Neue", Helvetica, Arial, sans-serif;
}